@import url('https://fonts.googleapis.com/css2?family=Brygada+1918&family=Roboto:ital,wght@0,300;0,500;0,700;1,400&display=swap');

* {
margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
nav {
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 16px;
    background-color: #cafdff
}

header {
    background-color: #eadcff;
    height: calc(100vh-70);
    padding: 24;
    display: flex;
    justify-content: center;
    align-items: center;
}
h1 {
    font-size: 72px;
}
.subheader {
    font-size: 36px;
    margin: 16px o 24px 0;
}
button {
    background-color: #05c7cf;
    color: white;
    border: none;
    padding: 8px 16px;
    font-size: 24px;
    cursor: pointer;

}
a {
    color: black;
    font-size: 24px;
    font-weight: 700;
}
.logo {
    width: 300px;
}
ul 
{
    display: flex;
}
li {
    list-style-type: none;
    padding: 16px;
}

.row {
    width: 100%;
    max-width: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*

About

*/

#about, 
#discord,
#contact,
footer {
    padding: 48px 0;
}
#about {
    background-color: #f8ffdc;
}

h2 {
    font-size: 60px;
    text-align: center;
    margin-bottom: 24px;
}
.section__description {
    display: flex;
    justify-content: center;
    align-items: center;
}
.about__img--wrapper {
    width: 40%;
}
img {
    width: 100%;
}
.section__description--wrapper {
    width: 60%;
}
.section__description--para {
font-size: 20px;
line-height: 1.5;
margin-bottom: 24px;
}
.section__description--wrapper, .about__img--wrapper {
    padding: 0 24px;
} 

/*

Discord

*/

#discord {
    background-color: #cefeff;
}

/*

Contact

*/

#contact {
    background-color: #dce9ff;
}
form {
    width: 100%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    margin: 0 auto; 
}

input,
textarea {
    margin-bottom: 24px;
    font-size: 20px;
    padding: 6px 12px;
}

/*

Footer

*/

footer {
    background-color: #aafbff;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer__logo {
    max-width: 480px;
    margin: 16px;
}
.footer__link {
    margin-bottom: 32px;
}
.footer__link {
    padding: 0 16px;

}